Xft.dpi:                        109
URxvt*termName:                 rxvt-256color
URxvt.letterSpace: 0
URxvt.lineSpace: 0
URxvt.geometry: 92x24
URxvt.internalBorder: 24
URxvt.cursorBlink: true
URxvt.cursorUnderline: false
URxvt.saveline: 2048
URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.urgentOnBell: true
URxvt.depth: 24
URxvt.iso14755: false
! Colors
*background:   #282a36
*foreground:   #eff0eb
*cursorColor:  #9aedfe

*color0:      #33303b
*color8:      #4f4b58
*color1:      #ff5c57
*color9:      #ff5c57
*color2:      #5af78e
*color10:     #5af78e
*color3:      #f3f99d
*color11:     #f3f99d
*color4:      #57c7ff
*color12:     #57c7ff
*color5:      #ff6ac1
*color13:     #ff6ac1
*color6:      #9aedfe
*color14:     #9aedfe
*color7:      #eff0eb
*color15:     #eff0eb
*.font: xft:Iosevka:style=Regular:size=8
*.boldFont: xft:Iosevka:style=Bold:size=8
*.italicFont: xft:Iosevka:style=Italic:size=8
*.boldItalicFont: xft:Iosevka:style=Bold Italic:size=8
