Xft.dpi:                        109
URxvt*termName:                 rxvt-256color
URxvt.letterSpace: 0
URxvt.lineSpace: 0
URxvt.geometry: 92x24
URxvt.internalBorder: 24
URxvt.cursorBlink: true
URxvt.cursorUnderline: false
URxvt.saveline: 2048
URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.urgentOnBell: true
URxvt.depth: 24
URxvt.iso14755: false
! Colors
! ------------------------------------------------------------------------------
! Colour Configuration
! ------------------------------------------------------------------------------

! special
*.foreground:   #d8dee8
*.background:   #2f343f
*.cursorColor:  #b48ead

! black
*.color0  : #4b5262
*.color8  : #434a5a

! red
*.color1  : #bf616a
*.color9  : #b3555e

! green
*.color2  : #a3be8c
*.color10 : #93ae7c

! yellow
*.color3  : #ebcb8b
*.color11 : #dbbb7b

! blue
*.color4  : #81a1c1
*.color12 : #7191b1

! magenta
*.color5  : #b48ead
*.color13 : #a6809f

! cyan
*.color6  : #89d0bA
*.color14 : #7dbba8

! white
*.color7  : #e5e9f0
*.color15 : #d1d5dc
URxvt.font: xft:Iosevka:style=Regular:size=8
URxvt.boldFont: xft:Iosevka:style=Bold:size=8
URxvt.italicFont: xft:Iosevka:style=Italic:size=8
URxvt.boldItalicFont: xft:Iosevka:style=Bold Italic:size=8
