/*This file is for the regular version of the startpage (file index.html)
  The single page version has embedded styling for use with Firefox.
  This version is also probably more often updated.*/

/*Change these variables to match with your setup. These colors work for
  the image I used and my overall desktop theme (see here:
  https://i.imgur.com/gxMdNKi.png).*/
:root {
	--red: #e95678;
	--white: #cbced0;
	--yellow: #e95678;

	--bg: #1c1e26;
	--fg: #16161c;

	--search-bg: rgba(255, 255, 255, 0);
	}

body {
	background-color: var(--bg);
	font-family: 'FiraCode Nerd Font', monospace;
	color: var(--yellow);
}

ul {
	list-style-type: none;
	text-align: left;
	padding: 2px 15px;
}

form {
	margin: 1em 0;
	position: relative;
}

form input[type="search"] {
	background-color: var(--search-bg);
	border: none;
	box-sizing: border-box;
	font-weight: bold;
	font: inherit;
	margin-left: 12px;
	width: 95%;
	color: var(--yellow);
}	

form label {
	color: var(--yellow);
	position: absolute;
}

form:focus-within input::placeholder {
	opacity: 0;
}

#main_window {
	background-color: var(--fg);
	width: 910px;
	padding-right: 40px;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

#content {
	padding-top: 30px;
	margin-left: 300px;
}

#links_container {
	display: flex;
	flex-wrap: wrap;
}

#links_container li, a {
	color: var(--white);
	text-decoration: none;
}

#links_container a:hover {
	color: var(--red);
	transition: all 0.4s;
}

.subtitle {
	font-weight: bold;
	color: var(--red);
}

.title {
	font-weight: bold;
	font-style: italic;
}

.image {
	max-width: 250px;
	float: left;
}

.bottom {
	position: fixed;
	bottom: 0;
	font-size: 0.52em;
}

.bottom a {
	text-decoration: none;
	color: var(--yellow);
}

.bottom a:hover {
	text-decoration: underline;
}

@media (max-width: 980px) {
	img#leftImg {
    	height: 280px;
  	}

  	#main_window {
		width: 833px;
		padding-right: 0;
	}

	ul {
		padding-top: 0px;
		margin-top: -7px;
	}

	#content {
		padding-top: 0px;
		margin-left: 220px;
	}
}

@media (max-width: 833px) {
	img#leftImg {
		display: none;
	}

	#main_window {
		width: 650px;
	}

	#content {
		margin-left: 20px;

	}
}

@media (max-width: 650px) {
	#main_window {
		width: 100%;
	}
}

@media (max-width: 450px) {
	form input[type="search"] {
		width: 90%;
	}
}
