<?xml version="1.0" encoding="UTF-8"?>
<openbox_menu xmlns="http://openbox.org/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://openbox.org/  file:///usr/share/openbox/menu.xsd">
  <menu id="root-menu" label="Openbox 3" title="Menu">
    <!--	<separator label="Main Menu"/>  -->
    <item label="Terminal Emulator">
      <action name="Execute">
        <command>urxvt</command>
      </action>
    </item>
    <item label="Web Browser">
      <action name="Execute">
        <command>firefox</command>
      </action>
    </item>
    <item label="File Manager">
      <action name="Execute">
        <command>thunar</command>
      </action>
    </item>
    <item label="Run">
      <action name="Execute">
        <command>rofi -show run</command>
      </action>
    </item>
    <item label="Text Editor">
      <action name="Execute">
        <command>urxvt -e vim</command>
      </action>
    </item>
    <separator/>
    <item label="Reconfigure">
      <action name="Execute">
        <execute>openbox --reconfigure</execute>
      </action>
    </item>
    <item label="Lock Screen">
      <action name="Execute">
        <command>slimlock</command>
      </action>
    </item>
    <menu id="obExit" label="Exit Openbox">
      <item label="Logout">
        <action name="Execute">
          <command>openbox --exit</command>
        </action>
      </item>
      <item label="Suspend">
        <action name="Execute">
          <command>sudo suspend</command>
        </action>
      </item>
      <item label="Reboot">
        <action name="Execute">
          <command>sudo reboot</command>
        </action>
      </item>
      <item label="Shutdown">
        <action name="Execute">
          <command>sudo poweroff</command>
        </action>
      </item>
    </menu>
    <!--		<item label="Exit Openbox">
			<action name="Execute">
				<command>~/.config/rofi/scripts/powermenu.sh</command>
			</action>
		</item>  -->
  </menu>
</openbox_menu>
<!-- vim:sw=2
-->
